.container {
  row-gap: 0.5rem;
  height: 100vh;
  /* display: flex; */
  /* justify-content: center; */
}

.title {
  display: flex;
  gap: 4px;
  padding: 0 12px;
  align-items: center;
}

.title h1 {
  flex-grow: 1;
}

.category-title a {
  text-decoration: none;
}

.category-title div {
  display: inline;
}

.grid {
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-template-rows: repeat(auto-fit, minmax(200px, 1fr));
  display: grid;
  gap: 0.5rem;
  padding: 12px;
}

.ballot {
  cursor: pointer;
  flex-direction: column;
  text-align: center;
  display: flex;
}

.ballot span {
  display: flex;
  justify-content: center;
  align-items: center;
  height: max-content;
  flex-grow: 1;
}

.ballot span svg {
  padding-right: 4px;
}

.ballot.selected {
  background: grey;
  color: white;
  padding-bottom: 0;
}
